html{
    background-color: black;
}
h4{
    color: white;
}
p{
    color: white;
}
h5{
    color: white;
}
ul{
    color: white;
}
h3{
    color: white;
    text-align: center;
}
footer{
    text-align: center;
    color: white;
}
h2{
    color: white;
    text-align: center;
}
div{
    text-align: center;
}